.message {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    color: white;
}

.imageAndText img{
    height: 48px;
}

.text {
    background-color: #0066CC;
    padding: 10px;
    border-radius: 10px;
    max-width: 70vw;
    word-wrap: break-word;
}

.text:after {

}

.name {
    text-align: right;
    font-weight: 600;
}

.messageText {
    word-break: break-all;
}

.time {
    margin-right: 8px;
    font-size: 10px;
    font-weight: 600;
}