.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.friendImageAndText {
    display: flex;
    gap: 10px;
}

.friendImageAndText img {
    height: 48px;
}

.friendText {
    background-color: #F5F7FB;
    padding: 10px;
    border-radius: 10px;
}

.friendText:after {

}

.friendName {
    font-weight: 600;
}

.friendMessageText {

}

.friendTime {
    margin-left: 8px;
    font-size: 10px;
    font-weight: 600;
}
