.greetingForm {
    font-size: 14px;
}

.inputAndButtonContainer {
    display: flex;
    justify-content: start;
    gap: 30px;
}

.error {
}

.input {
    font-size: 16px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    width: 300px;
}

.input:focus {
}

.errorInput {
    font-size: 16px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    width: 300px;

    border: 1px solid red;
}

.button {
    padding: 5px 30px;
    border-radius: 10px;

    display: inline-block;
    background-color: #0066CC;
    color: white;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: grey;
}

.text {
}

.greeting {
}
