.burgerMenuIcon {
    cursor: pointer;
    padding: 20px 0 16px 0;
}

.header {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px 0 50px;
    justify-content: space-between;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    height: 60px;
}

.header h1 {
}